@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

/* Base Styles */
body {
    font-family: 'Ubuntu', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #525252;
    color: #0011ff;
    line-height: 1.6;
    text-align: justify;
}

h1, h2 {
    text-align: center;
    color: #00d824;
}

h3 {
    margin: 0.5em 0;
    color: #00d824;
}

p {
    text-align: justify;
    margin: 1em 0;
}

a {
    text-decoration: none;
    color: #26ff00;
}

/* Header Styles */
header {
    background-color: #006a15;
    color: #ffffff;
    padding: 1.5em 0;
    text-align: center;
}

header h1 {
    margin: 0;
    font-weight: bold;
}

/* Section Styles */
main {
    padding: 2em;
}

section {
    margin-bottom: 2em;
}

#team-members .team-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.5em;
}

.team-member {
    background: #797979;
    border: 2% solid #000000;
    border-radius: 8%;
    padding: 1em;
    height: 50%;
    width: 25%;
    text-align: center;
    box-shadow: 0 4% 6% rgba(0, 0, 0, 0.1);
    font-size: 100%;
}

.team-photo {
    width: 100%;
    border-radius: 50%;
    margin-bottom: 1em;
}

/* Footer Styles */
footer {
    background-color: #323232;
    color: #00ff26;
    text-align: center;
    padding: 1.5em 0;
}

footer p {
    margin: 0.5em 0;
    justify-content: center;
    text-align: center;
}

.social-links {
    list-style: none;
    padding: 0;
    margin: 1em 0;
    display: flex;
    justify-content: center;
    gap: 1em;
}

.social-links a {
    color: hsl(229, 100%, 50%);
    font-weight: bold;
    transition: color 0.5s;
}

.social-links a:hover {
    color: #00d824;
}
